body,
html {
    background-color: #000609;
    height: 100%;
    margin: 0;
    color: #fff;
    font-family: "Figtree", sans-serif;
}

.content::before {
    background-image: url(https://photos.hancinema.net/photos/fullsizephoto1603240.jpg);
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    right: -5;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
    width: 100%;
    height: 100%;

}

.content {
    position: relative;
    z-index: 0;
}

#nav-bar {
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-weight: bold;
    display: flex;
    padding: 0;
    margin-top: 40px;
    height: 94px;
}

.navContainer {
    text-align: center;
    justify-content: center;
    align-items: center;
}

#netflix-symbol {
    width: 210px;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 0;
    margin-left: 24px;
    padding-top: 0;
}

.nav-ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-ul li:last-child {
    position: absolute;
    right: 3vh;
    margin-right: 24px;
    white-space: nowrap;
}

.nav-ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    padding: 20px 50px;
}

.nav-ul li a:hover,
.nav-ul li a.active {
    background-image: linear-gradient(180deg,
            rgba(229, 9, 20, 0.53) 0%,
            rgba(229, 9, 20, 0) 100%);
}

.hero {
    display: inline-block;
    margin-bottom: 40px;
    padding-bottom: 40px;
}

#glory-logo {
    float: left;
    padding-left: 24px;
    max-width: 617px;
    display: block;
    filter: invert(1);
}

header {
    text-align: justify;
    padding: 20px 0;
    margin-left: 24px;
}

.banner-content h1 {
    font-size: 36px;
    display: block;
    font-weight: bold;
}

.banner-content p {
    font-size: 24px;
    font-weight: normal;
    padding-bottom: 20px;
}

.banner {
    display: block;
    margin: auto;
    max-width: 550px;
}


.image-stack {
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);
}

.image-stack__item--top {
    grid-column: 1 / -1;
    grid-row: 1;
    z-index: 1;
}

.image-stack__item--bottom {
    grid-column: 1 / -1;
    grid-row: 1;
    padding-top: 57%;
    margin-bottom: -1%;
}

.image-stack__item--bottom2 {
    grid-column: 1 / -1;
    grid-row: 2;
}

.trailer {
    padding-top: 100px;
    padding-bottom: 300px;
    text-align: center;
    display: block;
    background-color: black;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background: linear-gradient(180deg,
            rgba(0, 0, 0, 0.01) 0%,
            rgb(0, 0, 0) 12%,
            rgba(0, 11, 21, 0.98) 71%,
            rgb(1, 43, 81) 90%,
            transparent 94%);
}

.trailer iframe {
    width: 100%;
    max-width: 800px;
    height: 450px;
    display: block;
    margin: auto;
}

#bg-image-2 {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cta-button {
    background: #e50914;
    color: #fff;
    font-size: 24px;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.cta-button:hover {
    background: #ff141f;
}

#signin-btn {
    padding: 7px 40px;
    background: #fff;
    color: #000000;
    border: solid 4px #f7f6f6;
    border-radius: 50px;
    height: 27px;
    width: 200px;
    cursor: pointer;
}

/* Carousel Syling */
main * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body main {
    height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
}

main {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.item {
    width: 200px;
    height: 300px;
    list-style-type: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(255, 255, 255, 0.3) inset;
    transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;

    &:nth-child(1),
    &:nth-child(2) {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: none;
        border-radius: 0;
        box-shadow: none;
        opacity: 1;
    }

    &:nth-child(3) {
        left: 50%;
    }

    &:nth-child(4) {
        left: calc(50% + 220px);
    }

    &:nth-child(5) {
        left: calc(50% + 440px);
    }

    &:nth-child(6) {
        left: calc(50% + 660px);
        opacity: 0;
    }
}

.carousel-content {
    width: min(30vw, 400px);
    position: absolute;
    top: 50%;
    left: 3rem;
    transform: translateY(-50%);
    font: 400 0.85rem "Figtree", sans-serif;
    color: white;
    text-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: none;

    & .title {
        font-family: "Figtree", sans-serif;
        text-transform: uppercase;
    }

    & .description {
        line-height: 1.7;
        margin: 1rem 0 1.5rem;
        font-size: 1rem;
    }

    & button {
        width: fit-content;
        background-color: rgba(0, 0, 0, 0.1);
        color: white;
        border: 2px solid white;
        border-radius: 0.25rem;
        padding: 0.75rem;
        cursor: pointer;
    }
}

.item:nth-of-type(2) .carousel-content {
    display: block;
    animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
    0% {
        filter: blur(5px);
        transform: translateY(calc(-50% + 75px));
    }

    100% {
        opacity: 1;
        filter: blur(0);
    }
}

.nav {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    user-select: none;

    & .btn {
        background-color: rgba(255, 255, 255, 0.5);
        color: rgba(0, 0, 0, 0.7);
        border: 2px solid rgba(0, 0, 0, 0.6);
        margin: 0 0.25rem;
        padding: 0.75rem;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }
    }
}

@media (width > 650px) and (width < 900px) {
    .content {
        & .title {
            font-size: 1rem;
        }

        & .description {
            font-size: 0.9rem;
        }

        & button {
            font-size: 0.7rem;
        }
    }

    .item {
        width: 160px;
        height: 270px;

        &:nth-child(3) {
            left: 50%;
        }

        &:nth-child(4) {
            left: calc(50% + 170px);
        }

        &:nth-child(5) {
            left: calc(50% + 340px);
        }

        &:nth-child(6) {
            left: calc(50% + 510px);
            opacity: 0;
        }
    }
}

@media (width < 650px) {
    .content {
        & .title {
            font-size: 0.9rem;
        }

        & .description {
            font-size: 0.7rem;
        }

        & button {
            font-size: 0.7rem;
        }
    }

    .item {
        width: 130px;
        height: 220px;

        &:nth-child(3) {
            left: 50%;
        }

        &:nth-child(4) {
            left: calc(50% + 140px);
        }

        &:nth-child(5) {
            left: calc(50% + 280px);
        }

        &:nth-child(6) {
            left: calc(50% + 420px);
            opacity: 0;
        }
    }
}